service/src/main/resources/wsdl/CitySoapService.wsdl

<definitions 
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
	xmlns:wsp="http://www.w3.org/ns/ws-policy" 
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://p.opulo.us/soap/city"
	targetNamespace="http://p.opulo.us/soap/city"
	name="CityPortService"
>	

	<types>
		<xs:schema>
			<xs:import namespace="http://p.opulo.us/soap/city" schemaLocation="../xsd/soap/CityTypes.xsd" />
		</xs:schema>
	</types>
	
	<message name="getCityWithId">
		<part name="parameters" element="tns:getCityWithId"/>
	</message>
	
	<message name="getCityWithIdResponse">
		<part name="parameters" element="tns:getCityWithIdResponse"/>
	</message>

	<message name="getCitiesWithIds">
		<part name="parameters" element="tns:getCitiesWithIds"/>
	</message>
	
	<message name="getCitiesWithIdsResponse">
		<part name="parameters" element="tns:getCitiesWithIdsResponse"/>
	</message>
	
	<message name="getCitiesWithName">
		<part name="parameters" element="tns:getCitiesWithName"/>
	</message>

	<message name="getCitiesWithNameResponse">
		<part name="parameters" element="tns:getCitiesWithNameResponse"/>
	</message>

	<message name="getCitiesWithNames">
		<part name="parameters" element="tns:getCitiesWithNames"/>
	</message>

	<message name="getCitiesWithNamesResponse">
		<part name="parameters" element="tns:getCitiesWithNamesResponse"/>
	</message>
		
	<message name="getCitiesInCountry">
		<part name="parameters" element="tns:getCitiesInCountry"/>
	</message>
	
	<message name="getCitiesInCountryResponse">
		<part name="parameters" element="tns:getCitiesInCountryResponse"/>
	</message>
	
	<message name="getCitiesInCountries">
		<part name="parameters" element="tns:getCitiesInCountries"/>
	</message>
	
	<message name="getCitiesInCountriesResponse">
		<part name="parameters" element="tns:getCitiesInCountriesResponse"/>
	</message>
	
	<portType name="CityService">
		<operation name="getCityWithId">
			<input wsam:Action="http://p.opulo.us/CityService/getCityWithIdRequest" message="tns:getCityWithId"/>
			<output wsam:Action="http://p.opulo.us/CityService/getCityWithIdResponse" message="tns:getCityWithIdResponse"/>
		</operation>
	
		<operation name="getCitiesWithIds">
			<input wsam:Action="http://p.opulo.us/CityService/getCitiesWithIdsRequest" message="tns:getCitiesWithIds"/>
			<output wsam:Action="http://p.opulo.us/CityService/getCitiesWithIdsResponse" message="tns:getCitiesWithIdsResponse"/>
		</operation>
		
		<operation name="getCitiesWithName">
			<input wsam:Action="http://p.opulo.us/CityService/getCitiesWithNameRequest" message="tns:getCitiesWithName"/>
			<output wsam:Action="http://p.opulo.us/CityService/getCitiesWithNameResponse" message="tns:getCitiesWithNameResponse"/>
		</operation>

		<operation name="getCitiesWithNames">
			<input wsam:Action="http://p.opulo.us/CityService/getCitiesWithNamesRequest" message="tns:getCitiesWithNames"/>
			<output wsam:Action="http://p.opulo.us/CityService/getCitiesWithNamesResponse" message="tns:getCitiesWithNamesResponse"/>
		</operation>
			
		<operation name="getCitiesInCountry">
			<input wsam:Action="http://p.opulo.us/CityService/getCitiesInCountryRequest" message="tns:getCitiesInCountry"/>
			<output wsam:Action="http://p.opulo.us/CityService/getCitiesInCountryResponse" message="tns:getCitiesInCountryResponse"/>
		</operation>
		
		<operation name="getCitiesInCountries">
			<input wsam:Action="http://p.opulo.us/CityService/getCitiesInCountriesRequest" message="tns:getCitiesInCountries"/>
			<output wsam:Action="http://p.opulo.us/CityService/getCitiesInCountriesResponse" message="tns:getCitiesInCountriesResponse"/>
		</operation>
	</portType>
	
	<binding name="CityServicePortBinding" type="tns:CityService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		
		<operation name="getCityWithId">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>

		<operation name="getCitiesWithIds">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="getCitiesWithName">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="getCitiesWithNames">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="getCitiesInCountry">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	
		<operation name="getCitiesInCountries">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
  
	<service name="CityPortService">
		<port name="CityServicePort" binding="tns:CityServicePortBinding">
			<soap:address location="http://localhost:8123/city"/>
		</port>
	</service>
</definitions>
