service/src/main/resources/wsdl/LanguageSoapService.wsdl

<definitions 
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
	xmlns:wsp="http://www.w3.org/ns/ws-policy" 
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:tns="http://ws.voidstar.sjsu.edu/soap/language"
	targetNamespace="http://ws.voidstar.sjsu.edu/soap/language"
	name="LanguagePortService"
>	
	<types>
		<xs:schema>
			<xs:import namespace="http://ws.voidstar.sjsu.edu/soap/language" schemaLocation="../xsd/soap/LanguageTypes.xsd" />
		</xs:schema>
	</types>
	
	<message name="getLanguageById">
		<part name="parameters" element="tns:getLanguageById"/>
	</message>
	
	<message name="getLanguageByIdResponse">
		<part name="parameters" element="tns:getLanguageByIdResponse"/>
	</message>
	
	<message name="getLanguageByName">
		<part name="parameters" element="tns:getLanguageByName"/>
	</message>
	
	<message name="getLanguageByNameResponse">
		<part name="parameters" element="tns:getLanguageByNameResponse"/>
	</message>
	
	<message name="getLanguagesByCountry">
		<part name="parameters" element="tns:getLanguagesByCountry"/>
	</message>
	
	<message name="getLanguagesByCountryResponse">
		<part name="parameters" element="tns:getLanguagesByCountryResponse"/>
	</message>
	
	<message name="getLanguagesByCity">
		<part name="parameters" element="tns:getLanguagesByCity"/>
	</message>
	
	<message name="getLanguagesByCityResponse">
		<part name="parameters" element="tns:getLanguagesByCityResponse"/>
	</message>
	
	<message name="getSortedLanguagesByCountry">
		<part name="parameters" element="tns:getSortedLanguagesByCountry"/>
	</message>
	
	<message name="getSortedLanguagesByCountryResponse">
		<part name="parameters" element="tns:getSortedLanguagesByCountryResponse"/>
	</message>
	
	<portType name="LanguageService">
		<operation name="getLanguageById">
			<input wsam:Action="http://ws.voidstar.sjsu.edu/LanguageService/getLanguageByIdRequest" message="tns:getLanguageById"/>
			<output wsam:Action="http://ws.voidstar.sjsu.edu/LanguageService/getLanguageByIdResponse" message="tns:getLanguageByIdResponse"/>
		</operation>
	
		<operation name="getLanguageByName">
			<input wsam:Action="http://ws.voidstar.sjsu.edu/LanguageService/getLanguageByNameRequest" message="tns:getLanguageByName"/>
			<output wsam:Action="http://ws.voidstar.sjsu.edu/LanguageService/getLanguageByNameResponse" message="tns:getLanguageByNameResponse"/>
		</operation>
			
		<operation name="getLanguagesByCountry">
			<input wsam:Action="http://ws.voidstar.sjsu.edu/LanguageService/getLanguagesByCountryRequest" message="tns:getLanguagesByCountry"/>
			<output wsam:Action="http://ws.voidstar.sjsu.edu/LanguageService/getLanguagesByCountryResponse" message="tns:getLanguagesByCountryResponse"/>
		</operation>
		
		<operation name="getSortedLanguagesByCountry">
			<input wsam:Action="http://ws.voidstar.sjsu.edu/LanguageService/getSortedLanguagesByCountryRequest" message="tns:getSortedLanguagesByCountry"/>
			<output wsam:Action="http://ws.voidstar.sjsu.edu/LanguageService/getSortedLanguagesByCountryResponse" message="tns:getSortedLanguagesByCountryResponse"/>
		</operation>
		
		<operation name="getLanguagesByCity">
			<input wsam:Action="http://ws.voidstar.sjsu.edu/LanguageService/getLanguagesByCityRequest" message="tns:getLanguagesByCity"/>
			<output wsam:Action="http://ws.voidstar.sjsu.edu/LanguageService/getLanguagesByCityResponse" message="tns:getLanguagesByCityResponse"/>
		</operation>
	</portType>
	
	<binding name="LanguageServicePortBinding" type="tns:LanguageService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		
		<operation name="getLanguageById">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>

		<operation name="getLanguageByName">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="getLanguagesByCountry">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="getSortedLanguagesByCountry">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="getLanguagesByCity">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	
	<service name="LanguagePortService">
		<port name="LanguageServicePort" binding="tns:LanguageServicePortBinding">
			<soap:address location="http://localhost:8123/language"/>
		</port>
	</service>
</definitions>
