mashup/src/main/webapp/WEB-INF/wsdl/MashupPortService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://ws.voidstar.sjsu.edu/mashup" name="MashupPortService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.voidstar.sjsu.edu/mashup" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.voidstar.sjsu.edu/mashup" schemaLocation="MashupPortService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getCountriesWhichSpeakLanguage">
    <part name="parameters" element="tns:getCountriesWhichSpeakLanguage"/>
  </message>
  <message name="getCountriesWhichSpeakLanguageResponse">
    <part name="parameters" element="tns:getCountriesWhichSpeakLanguageResponse"/>
  </message>
  <message name="getLanguagesSpokenInCountry">
    <part name="parameters" element="tns:getLanguagesSpokenInCountry"/>
  </message>
  <message name="getLanguagesSpokenInCountryResponse">
    <part name="parameters" element="tns:getLanguagesSpokenInCountryResponse"/>
  </message>
  <message name="getZombiesOnContinent">
    <part name="parameters" element="tns:getZombiesOnContinent"/>
  </message>
  <message name="getZombiesOnContinentResponse">
    <part name="parameters" element="tns:getZombiesOnContinentResponse"/>
  </message>
  <message name="getZombiesBasedOnGeoIPLookup">
    <part name="parameters" element="tns:getZombiesBasedOnGeoIPLookup"/>
  </message>
  <message name="getZombiesBasedOnGeoIPLookupResponse">
    <part name="parameters" element="tns:getZombiesBasedOnGeoIPLookupResponse"/>
  </message>
  <message name="testCountryLanguageMethods">
    <part name="parameters" element="tns:testCountryLanguageMethods"/>
  </message>
  <message name="testCountryLanguageMethodsResponse">
    <part name="parameters" element="tns:testCountryLanguageMethodsResponse"/>
  </message>
  <message name="getZombiesInCity">
    <part name="parameters" element="tns:getZombiesInCity"/>
  </message>
  <message name="getZombiesInCityResponse">
    <part name="parameters" element="tns:getZombiesInCityResponse"/>
  </message>
  <message name="testCityMethods">
    <part name="parameters" element="tns:testCityMethods"/>
  </message>
  <message name="testCityMethodsResponse">
    <part name="parameters" element="tns:testCityMethodsResponse"/>
  </message>
  <message name="testCountryMethods">
    <part name="parameters" element="tns:testCountryMethods"/>
  </message>
  <message name="testCountryMethodsResponse">
    <part name="parameters" element="tns:testCountryMethodsResponse"/>
  </message>
  <message name="testInfectionMethods">
    <part name="parameters" element="tns:testInfectionMethods"/>
  </message>
  <message name="testInfectionMethodsResponse">
    <part name="parameters" element="tns:testInfectionMethodsResponse"/>
  </message>
  <message name="testLanguageMethods">
    <part name="parameters" element="tns:testLanguageMethods"/>
  </message>
  <message name="testLanguageMethodsResponse">
    <part name="parameters" element="tns:testLanguageMethodsResponse"/>
  </message>
  <message name="getZombiesInCountriesWhereLanguageIsSpoken">
    <part name="parameters" element="tns:getZombiesInCountriesWhereLanguageIsSpoken"/>
  </message>
  <message name="getZombiesInCountriesWhereLanguageIsSpokenResponse">
    <part name="parameters" element="tns:getZombiesInCountriesWhereLanguageIsSpokenResponse"/>
  </message>
  <portType name="MashupService">
    <operation name="getCountriesWhichSpeakLanguage">
      <input wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/getCountriesWhichSpeakLanguageRequest" message="tns:getCountriesWhichSpeakLanguage"/>
      <output wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/getCountriesWhichSpeakLanguageResponse" message="tns:getCountriesWhichSpeakLanguageResponse"/>
    </operation>
    <operation name="getLanguagesSpokenInCountry">
      <input wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/getLanguagesSpokenInCountryRequest" message="tns:getLanguagesSpokenInCountry"/>
      <output wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/getLanguagesSpokenInCountryResponse" message="tns:getLanguagesSpokenInCountryResponse"/>
    </operation>
    <operation name="getZombiesOnContinent">
      <input wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/getZombiesOnContinentRequest" message="tns:getZombiesOnContinent"/>
      <output wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/getZombiesOnContinentResponse" message="tns:getZombiesOnContinentResponse"/>
    </operation>
    <operation name="getZombiesBasedOnGeoIPLookup">
      <input wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/getZombiesBasedOnGeoIPLookupRequest" message="tns:getZombiesBasedOnGeoIPLookup"/>
      <output wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/getZombiesBasedOnGeoIPLookupResponse" message="tns:getZombiesBasedOnGeoIPLookupResponse"/>
    </operation>
    <operation name="testCountryLanguageMethods">
      <input wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/testCountryLanguageMethodsRequest" message="tns:testCountryLanguageMethods"/>
      <output wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/testCountryLanguageMethodsResponse" message="tns:testCountryLanguageMethodsResponse"/>
    </operation>
    <operation name="getZombiesInCity">
      <input wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/getZombiesInCityRequest" message="tns:getZombiesInCity"/>
      <output wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/getZombiesInCityResponse" message="tns:getZombiesInCityResponse"/>
    </operation>
    <operation name="testCityMethods">
      <input wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/testCityMethodsRequest" message="tns:testCityMethods"/>
      <output wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/testCityMethodsResponse" message="tns:testCityMethodsResponse"/>
    </operation>
    <operation name="testCountryMethods">
      <input wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/testCountryMethodsRequest" message="tns:testCountryMethods"/>
      <output wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/testCountryMethodsResponse" message="tns:testCountryMethodsResponse"/>
    </operation>
    <operation name="testInfectionMethods">
      <input wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/testInfectionMethodsRequest" message="tns:testInfectionMethods"/>
      <output wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/testInfectionMethodsResponse" message="tns:testInfectionMethodsResponse"/>
    </operation>
    <operation name="testLanguageMethods">
      <input wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/testLanguageMethodsRequest" message="tns:testLanguageMethods"/>
      <output wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/testLanguageMethodsResponse" message="tns:testLanguageMethodsResponse"/>
    </operation>
    <operation name="getZombiesInCountriesWhereLanguageIsSpoken">
      <input wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/getZombiesInCountriesWhereLanguageIsSpokenRequest" message="tns:getZombiesInCountriesWhereLanguageIsSpoken"/>
      <output wsam:Action="http://ws.voidstar.sjsu.edu/mashup/MashupService/getZombiesInCountriesWhereLanguageIsSpokenResponse" message="tns:getZombiesInCountriesWhereLanguageIsSpokenResponse"/>
    </operation>
  </portType>
  <binding name="MashupServicePortBinding" type="tns:MashupService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getCountriesWhichSpeakLanguage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLanguagesSpokenInCountry">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getZombiesOnContinent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getZombiesBasedOnGeoIPLookup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="testCountryLanguageMethods">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getZombiesInCity">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="testCityMethods">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="testCountryMethods">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="testInfectionMethods">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="testLanguageMethods">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getZombiesInCountriesWhereLanguageIsSpoken">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MashupPortService">
    <port name="MashupServicePort" binding="tns:MashupServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

