service/src/main/resources/xsd/Infection.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Infection" type="Infection"/>

  <xs:complexType name="Infection">
    <xs:sequence>
      <xs:element name="ID" type="xs:int" minOccurs="0"/>
      <xs:element name="CityID" type="xs:string" minOccurs="0"/>
      <xs:element name="Zombies" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

