service/src/main/resources/xsd/dao/City.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://ws.voidstar.sjsu.edu/dao"
	xmlns:dao="http://ws.voidstar.sjsu.edu/dao"
>
	
  <xs:element name="City" type="dao:City"/>
  
  <xs:complexType name="City">
    <xs:sequence>
      <xs:element name="ID" type="xs:int" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="CountryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="District" type="xs:string" minOccurs="0"/>
      <xs:element name="Population" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

