service/src/main/resources/xsd/dao/City.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://p.opulo.us/dao" xmlns:tns="http://p.opulo.us/dao" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="City" type="tns:City"/>

  <xs:complexType name="City">
    <xs:sequence>
      <xs:element name="ID" type="xs:int" minOccurs="0"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="CountryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="District" type="xs:string" minOccurs="0"/>
      <xs:element name="Population" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

