service/src/main/resources/xsd/dao/CountryLanguage.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://p.opulo.us/dao" xmlns:tns="http://p.opulo.us/dao" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="CountryLanguage" type="tns:CountryLanguage"/>

  <xs:complexType name="CountryLanguage">
    <xs:sequence>
      <xs:element name="CountryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="LanguageID" type="xs:int" minOccurs="0"/>
      <xs:element name="IsOfficial" type="xs:string" minOccurs="0"/>
      <xs:element name="Percentage" type="xs:float" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

